@font-face {
  font-family: 'constantine';
  src: url("./assets/font/Constantine.ttf");
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "constantine", sans-serif;
  background: #000;
  color: #EAF1F2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.content {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}


.content h2 {
  font-size: 86px;
  font-weight: 400;
}

.lt{
  letter-spacing: .4em;
  
}

.lt-2{
  letter-spacing: .5em;

}

.content p {
  text-align: center;
  font-size: 20px;
  letter-spacing: .4em;
  font-weight: 700;
}


 .mt{
  margin-top: -55px;
 }
.word-1 {

  
  opacity: .04;
}

.word-2 {
  opacity: .13;
}

.word-3 {
  opacity: .2;
}

.word-4 {
  opacity: .4;
}

.upside-down{
  transform: scale(1, -1);
}


@media only screen and (max-width: 900px) {
  .content h2 {
    font-size: 66px;
 
  }
  .mt{
    margin-top: -45px;
   }

  .content p {
   
    font-size: 18px;
   
  }
}


@media only screen and (max-width: 670px) {
  .content h2 {
    font-size: 46px;
 
  }
  .mt{
    margin-top: -35px;
   }

  .content p {
   
    font-size: 14px;
   
  }


}

@media only screen and (max-width: 470px) {
  .content h2 {
    font-size: 26px;
 
  }
  .mt{
    margin-top: -16px;
   }

  .content p {
   
    font-size: 10px;
    margin: 18px 0;
    letter-spacing: .3em;
   
  }


}